<!doctype html>
{% if published %}
<html lang="{{ lang }}">
{% else %}
<html lang="en">
{% endif %}
  <head>
    <meta charset="utf-8">
  	<meta name='viewport' content='width=device-width'>
  {% if published %}
    <title>{{ title }} - {{ site.title }}</title>
    <meta property="og:title" content="{{ title }} - {{ site.title }}"/>
    <meta name='description' content="{{ excerpt }}">
  {% else %}
    <title>{{ site.title }}</title>
    <meta property="og:title" content="{{ site.title }}"/>
    <meta name='description' content="{{ site.description }}">
  {% endif %}
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#E5E7EB" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#111827" media="(prefers-color-scheme: dark)">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json" />
    <link href="/assets/styles/tailwind.css" rel="stylesheet" />
    <script>
      const isDarkMode = () => localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);
      if (isDarkMode()) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>

  <body class="dark:text-slate-200 dark:prose-headings:text-slate-100 dark:prose-a:text-slate-100 dark:hover:prose-a:text-blue-700 dark:bg-black hover:prose-a:text-yellow-600">
    {{ content }}
    
  <script>
    document.getElementById("toggleDarkMode").addEventListener("click", function() {
      if (isDarkMode()) {
        localStorage.theme = 'light'
        document.documentElement.classList.remove('dark')
      } else {
        localStorage.theme = 'dark'
        document.documentElement.classList.add('dark')
      }
      {% if enableMermaid %}
        // this is to reload mermaid diagrams with the appropriate theme, dark or default
        // if post has no diagrams, then reloading is not required
        window.location.reload();
      {% endif %}
    });
  </script>
  </body>
</html>